@font-face {
    font-family: "Minecraft Ten";
    src: url("../fonts/minecraft-ten.ttf") format("truetype");
}

@font-face {
    font-family: "Monocraft";
    src: url("../fonts/Monocraft.ttf") format("truetype");
}
