.mobile-only {
    display: none;
}

@media screen and (max-width: 600px) {
    .mobile-only {
        display: flex;
    }

    .hide-mobile {
        display: none;
    }
}

.menu {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;

    &.active {
        opacity: 1;
        pointer-events: unset;
    }
}
