.icon-cf {
    background-image: url(../icons/curseforge.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1.5rem;
}

.icon-mr {
    background-image: url(../icons/modrinth.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1.5rem;
}
