.project-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    a {
        text-decoration: underline;
    }

    .spoiler {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.25s ease;

        &.active {
            max-height: unset;
        }
    }
}
