---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import banner from "../images/banner.png";
import bisect from "../images/bisect.png";
---

<Layout title="Welcome to Astro.">
    <main class="w-full h-full m-0 p-0 b-0">
        <Header />

        <div class="hero w-full min-h-100vh">
            <Image src={banner} alt="Luna Pixel Studios Banner" class="w-40%" />
            <p class="text-20pt font-mc">Join the adventure!</p>
        </div>

        <Card
            class="bmc"
            title="Better Minecraft"
            desc="Discover Minecraft 2 or what Minecraft should have been?!\nCheck out the **Better Minecraft** series by SHXRKIE."
        />

        <Card
            class="abyss"
            title="The Abyss: The Other Side"
            desc="Discover the hardest dimension mod!\nCheck out **The Abyss: Chapter 2** by Y3Z0N."
            right
        />

        <Card
            class="mmc"
            title="Medieval Minecraft"
            desc="Discover the greatest medieval fantasy RPG adventure & exploration modpack!\nCheck out the **Medieval Minecraft** series by SHXRKIE."
        />

        <Card
            class="wda"
            title="When Dungeons Arise"
            desc="Discover huge and small dungeons like you've never seen them before!\nCheck out **When Dungeons Arise** by Aureljz."
            right
        />

        <Card
            class="eab"
            title="Coming Soon: Eternal Abyss"
            desc="Discover the best and most detailed MMO RPG modpack out there!\nCheck out **Eternal Abyss** by Y3Z0N."
        />

        <div class="w-full flex flex-col items-center justify-center p-30">
            <p class="text-3xl b-b-1 b-b-sky mb-10 font-mc">
                Who are Luna Pixel Studios?
            </p>

            <p class="text-xl text-center mb-10 font-mc-mono">
                Join our vibrant community of over 90 million downloads on
                CurseForge! Our dedicated team is passionate about creating
                immersive Minecraft experiences with our mods and modpacks. But
                we're not just about the gameplay - we also host monthly events
                with fantastic rewards and giveaways to show our appreciation
                for our amazing community. And with a bustling Discord channel,
                there's always someone to chat and play with. Don't miss out on
                the fun - join us today!
            </p>

            <p class="text-3xl b-b-1 b-b-sky mb-10 font-mc">Need a server?</p>

            <Image
                src={bisect}
                alt="Bisect Hosting"
                class="w-100% bg-blue rd-lg mb-5"
            />

            <p class="text-lg text-center font-mc-mono">
                Bisect Hosting has Better Minecraft Modpacks, Medieval Minecraft
                Modpacks, and the Stay True Modpack ready for installation!
            </p>

            <p class="text-lg text-center font-mc-mono">
                Use Code <code class="b-amber b-1 rd-md p-1">LunaPixel</code> for
                25% off your first month and this helps support the Development.
            </p>

            <p class="text-lg text-center mb-5 font-mc-mono">
                Bisect Hosting has all of the LunaPixel's Modpacks ready for
                one-click installation, and they provide 24/7 support!
            </p>

            <a
                href="https://www.bisecthosting.com/LunaPixel"
                class="text-xl bg-blue b-1 b-blue p-2 rd-lg p-l-4 p-r-4 text-black font-mc text-center flex flex-row justify-center items-center hover:text-white hover:bg-transparent transition-all transition-duration-250"
                >Get a Server</a
            >
        </div>

        <Footer />
    </main>
</Layout>

<style lang="scss">
    @import "../styles/mixins.scss";

    main {
        color: white;
        font-size: 20px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include bg-img("../images/hero.png");
    }
</style>
