---
import Footer from "../components/Footer.svelte";
import Header from "../components/Header.svelte";
import ProjectsPage from "../components/ProjectsPage.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Projects - Luna Pixel Studios">
    <main class="w-full h-full m-0 p-0 b-0">
        <Header />
        <ProjectsPage client:only="svelte" />
        <Footer />
    </main>
</Layout>
