---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ProjectsPage from "../components/ProjectsPage.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Luna Pixel Studios | Home">
    <main class="w-full h-full m-0 p-0 b-0">
        <Header />
        <ProjectsPage client:only="svelte" />
        <Footer />
    </main>
</Layout>
