---
interface Props {
    class: string;
    title: string;
    desc: string;
    right?: boolean;
}

const { class: className, title, desc, right } = Astro.props;
---

<div
    class:list={[
        "w-full min-h-70% flex flex-col p-l-5% p-t-5% p-r-5% card".split(" "),
        right ? "items-end" : "items-start",
        className,
    ]}
>
    <p class="font-mc mb-xl text-3xl">{title}</p>

    <p
        class:list={[
            "font-mc-mono text-xl".split(" "),
            right ? "text-right" : "text-left",
        ]}
        set:html={desc
            .replace("\n", "<br />")
            .replace(/\*\*([^\*]+)\*\*/gm, "<b><u>$1</u></b>")}
    />
</div>

<style lang="scss">
    .card {
        border-top: 0.5px solid rgba(255, 255, 255, 0.25);
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
    }
</style>
