---
interface Props {
    class: string;
    title: string;
    desc: string;
    right?: boolean;
    link: string;
}

const { class: className, title, desc: desc_, right, link } = Astro.props;

const desc = desc_
    .replace("\n", "<br />")
    .replace(/\*\*([^\*]+)\*\*/gm, "<b><u>$1</u></b>");
---

<a
    href={link}
    target="_blank"
    class:list={[
        "w-full min-h-70% flex flex-col p-l-5% p-t-5% p-r-5% card".split(" "),
        right ? "items-end" : "items-start",
        className,
    ]}
>
    <p class="font-mc mb-xl text-3xl">{title}</p>

    <p
        class:list={[
            "font-mc-mono text-xl".split(" "),
            right ? "text-right" : "text-left",
        ]}
        set:html={desc}
    />
</a>

<style lang="scss">
    .card {
        border-top: 0.5px solid rgba(255, 255, 255, 0.25);
        border-bottom: 0.5px solid rgba(255, 255, 255, 0.25);
        transition: background-size 1s ease;
        background-size: 100%;

        &:hover {
            background-size: 110%;
        }

        @media screen and (max-width: 600px) {
            background-size: 200%;

            &:hover {
                background-size: 230%;
            }
        }
    }
</style>
