---
import { Image } from "astro:assets";

import banner from "../images/banner.png";
---

<div class="w-full bg-dark flex flex-col justify-center items-center p-10">
    <Image src={banner} alt="Luna Pixel Studios logo" class="w-15% mb-2.5" />
    <p class="font-mc-mono font-lg">&copy; 2024 Luna Pixel Studios</p>
</div>
