---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

// import banner from "../images/banner.png";
import icon from "../images/favicon.png";
---

<div
    class="w-full bg-dark pos-fixed p-2 flex flex-row justify-between items-center"
>
    <div class="flex flex-row justify-start items-center">
        <Image
            src={icon}
            alt="Luna Pixel Studios Logo"
            class="w-10% mr-5 rd-lg logo w-5% ml-12.5"
        />

        <a href="/" class="font-mc-mono text-lg mr-5 underline">Home</a>
        <a href="/projects" class="font-mc-mono text-lg mr-5 underline"
            >Projects</a
        >
        <a
            href="https://www.bisecthosting.com/LunaPixel"
            class="font-mc-mono text-lg underline">Hosting</a
        >
    </div>

    <div class="flex flex-row justify-start items-center">
        <a href="https://twitter.com/lunapixelstudio" class="mr-5"
            ><Icon name="fa6-brands:twitter" /></a
        >

        <a href="https://lunapixel.studio/discord" class="mr-5"
            ><Icon name="fa6-brands:discord" /></a
        >

        <a href="https://www.patreon.com/LunaPixelStudios"
            ><Icon name="fa6-brands:patreon" /></a
        >
    </div>
</div>

<style lang="scss">
    @media screen and (max-width: 600px) {
        .logo {
            width: 10%;
        }
    }
</style>
