---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import icon from "../images/favicon.png";
---

<div
    class="w-full bg-dark pos-fixed p-2 flex flex-row justify-between items-center header z-10"
>
    <div class="flex flex-row justify-start items-center">
        <Image
            src={icon}
            alt="Luna Pixel Studios Logo"
            class="mr-5 rd-lg logo w-5% cursor-pointer"
            id="home-img"
            loading="eager"
        />

        <script>
            const img = document.querySelector("#home-img");

            img?.addEventListener("click", () => {
                window.location.replace("/");
            });
        </script>

        <a href="/" class="font-mc-mono text-lg mr-5 underline hide-mobile"
            >Home</a
        >
        <a
            href="/projects"
            class="font-mc-mono text-lg mr-5 underline hide-mobile">Projects</a
        >
        <a
            href="https://www.bisecthosting.com/LunaPixel"
            class="font-mc-mono text-lg underline hide-mobile">Hosting</a
        >
    </div>

    <div class="flex flex-row justify-start items-center">
        <a href="https://twitter.com/lunapixelstudio" class="mr-5"
            ><Icon name="fa6-brands:twitter" /></a
        >

        <a href="https://lunapixel.studio/discord" class="mr-5"
            ><Icon name="fa6-brands:discord" /></a
        >

        <a href="https://www.patreon.com/LunaPixelStudios"
            ><Icon name="fa6-brands:patreon" /></a
        >
    </div>
</div>

<style lang="scss">
    @media screen and (max-width: 600px) {
        .header {
            height: 3.5rem;
        }

        .logo {
            width: 10%;
            margin-left: 3.125rem;
        }
    }

    @media screen and (max-width: 400px) {
        .header {
            height: 3.5rem;
        }

        .logo {
            width: 15%;
            margin-left: 3.125rem;
        }
    }
</style>
